packages:
  yum:
    amazon-cloudwatch-agent: []

files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/nginx/app.log",
                  "log_group_name": "king-price-insurance-back-end-log-group",
                  "log_stream_name": "{instance_id}",
                  "timezone": "Local"
                }
              ]
            }
          }
        }
      }

commands:
  01_create_log_dir:
    command: |
      mkdir -p /var/log/nginx/
      chown webapp:webapp /var/log/nginx/
      chmod 755 /var/log/nginx/
    test: "! -d /var/log/nginx/"

  02_start_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json -s