packages:
  yum:
    awslogs: []

commands:
  01_configure_awslogs:
    command: |
      cat <<'EOF' > /etc/awslogs/awslogs.conf
      [general]
      state_file = /var/awslogs/state/agent-state

      [/var/app/logs/app.log]
      file = /var/app/logs/app.log
      log_group_name = king-price-insurance-back-end-log-group
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%dT%H:%M:%S
      EOF
    test: "test ! -f /etc/awslogs/awslogs.conf"

services:
  sysvinit:
    awslogs:
      enabled: true
      ensureRunning: true
      files:
        - "/etc/awslogs/awslogs.conf"