name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Deploy to AWS Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: "king-price-insurance-back-end"
          environment_name: "King-price-insurance-back-end-env-1"
          version_label: "deploy-${{ github.sha }}"
          region: "eu-west-1"
          deployment_package: "target/spring.work.assessment-1.0.0.zip"
